/* Reiniciando */
* {
  margin: 0px;
  padding: 0px; }

.link, footer {
  display: flex;
  align-items: center; }

.contratista {
  width: 5em;
  border-radius: 25%; }

/* Colores del background*/
/* Colores del background*/
/* Celular */
@media only screen and (max-width: 640px) {
  body {
    background-color: #f2dac3;
    width: auto; }
  h1 {
    font-size: small; }
  .logo {
    width: 60px;
    height: 40px; }
  .matrizContainer {
    grid-template-columns: 1fr; }
  .lista1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "albanil . carpintero" ". cerrajero ." "electricista . gasista" ". pintor ." "plomero . .";
    grid-row-gap: 10px; } }

/* Tablet */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  body {
    background-color: #c8c2bc;
    width: auto; }
  .matrizContainer {
    grid-template-columns: 1fr; }
  h1 {
    font-size: large; }
  .logo {
    width: 96px;
    height: 60px; }
  .lista1 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "albanil . carpintero . cerrajero" ". electricista . gasista ." "pintor . plomero . .";
    grid-row-gap: 10px; } }

/* Colores del background*/
.link, footer {
  display: flex;
  align-items: center; }

body {
  height: 100%;
  margin: 0;
  background-color: #c8c2bc; }
  body .row {
    margin: 0; }

.link, footer {
  display: flex;
  align-items: center; }

.link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 0; }

/* Colores del background*/
.link, footer {
  display: flex;
  align-items: center; }

footer {
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #242122;
  padding: 1rem;
  margin: 0; }
  footer footer-images {
    width: 60%;
    max-height: 1rem; }
    footer footer-images partners {
      height: 0.5rem; }

/* Colores del background*/
.descripcion {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  background-image: url(../Images/Fondo.jpg);
  background-position: center;
  background-size: cover; }

.tipo-contratista {
  background-color: #f2dac3;
  color: #2c09ad; }
  .tipo-contratista h5 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    color: black; }

.contratista {
  width: 5em;
  border-radius: 25%;
  text-decoration: none; }

.link-container {
  transition: all 1s; }
  .link-container:hover {
    transform: scale(1.5); }

@font-face {
  font-family: "rubik";
  src: url(../Fuente/Rubik/static/Rubik-Bold.ttf) format(woff); }

header nav div .logo {
  width: 160px;
  height: 96px; }

h1 {
  color: #ddcdbe;
  font-weight: bold;
  font-family: "rubik";
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 5px;
  text-decoration: overline underline;
  border: none;
  margin: 1rem;
  padding: 1rem; }

.matrizContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 16px;
  column-gap: 10px;
  font-style: "rubik";
  font-weight: bolder;
  justify-self: center; }

.subtitulo {
  text-decoration: #dddd06;
  text-shadow: yellowgreen;
  text-transform: uppercase;
  text-align: left;
  text-decoration: underline; }

.parrafo {
  font-family: "rubik";
  text-align: left; }

#mapa {
  width: 400px;
  height: 200px; }

.subtituloIntermedio {
  text-decoration: #dddd06;
  text-shadow: yellowgreen;
  text-transform: uppercase;
  text-align: right;
  text-decoration: underline; }

.parrafoIntermedio {
  font-family: "rubik";
  text-align: right; }

.Estilo1 {
  background-color: #f1ca89;
  margin: 0; }

.Estilo2 {
  background-color: #f2dac3;
  margin: 0; }

.lista1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "albanil . carpintero . cerrajero . electricista" ". gasista . pintor . plomero .";
  justify-items: center;
  align-items: center;
  list-style: none;
  grid-row-gap: 30px; }

.a1 {
  grid-area: albanil; }

.a2 {
  grid-area: carpintero; }

.a3 {
  grid-area: cerrajero; }

.a4 {
  grid-area: electricista; }

.a5 {
  grid-area: gasista; }

.a6 {
  grid-area: pintor; }

.a7 {
  grid-area: plomero; }

/* Como funciona */
.about-us-container {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: normal;
  text-align: center;
  background-color: #f1ca89; }
