@import "../base/paleta";
@import "../base/maps";
@import "../base/extends";

body{
    height: 100%;
    margin: 0;
    background-color: nth($colores-fondo, 4 );
    .row{
        margin: 0;
    }
}