@import "../base/paleta";
@import "../base/maps";
@import "../base/extends";

footer{
    @extend %display-flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: nth($colores-fondo, 5 );
    padding: 1rem;
    .footer-images{
        width: 60%;
        max-height: 10px;
        partners{
            width: 60%;
            max-height: 1rem;
        }
    }
}
